a {
  display: block;
  width: 100px;
  margin: 1px;
  text-align: center;
  text-decoration: none;
  cursor: pointor;
}

#clear {
  color: gray;
  border: solid 1px gray;
  border-radius: 2px;
}

#clear:hover {
  color: white;
  background: gray;
}

#yes {
  background: #D3E3F8;
}